# Ignore node_modules
node_modules/*

# Ignore WebPack bundle.js
# This may change if I want to deploy to GitHub Pages
public/bundle.js
public/bundle.js.map

# Ignore logged errors on my dev machine
npm-debug.log
debug.log